.box{
    width:60%;
    max-width: 295px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    border-radius: 10px;
    border-bottom-left-radius: 10px;
   /* box-shadow: 5px 10px red;*/
    background-color:#4f5458;
    color: #fdfffc;
    text-align: center;
}
input{
    margin-bottom: 10px;margin-left: 2px;
    width: 65px;
    height:55px;
    border-radius: 10px;
    font-family:  fantasy;
    font-size: 40px;
}
table{
    border-style: inset;
}
.btn:hover{
    background-color:rgb(98, 105, 13);
    cursor:pointer;
}
input::placeholder{
    text-align: end;
    font-size:50px ;
    text-decoration-color: black;

 }